# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno
.env

# Archivos de caché
__pycache__/
*.pyc

# Archivos temporales de Tableau
~*.twbr
*.tmp

# Datos grandes 
# data/*.csv
.ipynb_checkpoints/
*.db
